[submodule "submodules/ffxiv-datamining-ko"]
	path = submodules/ffxiv-datamining-ko
	url = https://github.com/Ra-Workspace/ffxiv-datamining-ko.git
[submodule "submodules/ffxiv-datamining-gb"]
	path = submodules/ffxiv-datamining-gb
	url = https://github.com/xivapi/ffxiv-datamining.git
